{% extends 'snagradar.html' %}
{% block content %}
<div class="container gx-3 py-3 mt-3">
    <div class="daily-record">
        <img class="ball 0 default" alt="Poké Ball icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/250px-Pok%C3%A9_Ball_icon.svg.png">
        <img class="ball 1 default" alt="Poké Ball icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/250px-Pok%C3%A9_Ball_icon.svg.png">
        <img class="ball 2 default" alt="Poké Ball icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/250px-Pok%C3%A9_Ball_icon.svg.png">
        <img class="ball 3 default" alt="Poké Ball icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/250px-Pok%C3%A9_Ball_icon.svg.png">
        <img class="ball 4 default" alt="Poké Ball icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/250px-Pok%C3%A9_Ball_icon.svg.png">
        <img class="ball 5 default" alt="Poké Ball icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/250px-Pok%C3%A9_Ball_icon.svg.png">
        <img class="ball 6 default" alt="Poké Ball icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/250px-Pok%C3%A9_Ball_icon.svg.png">
        <img class="ball 7 default" alt="Poké Ball icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/250px-Pok%C3%A9_Ball_icon.svg.png">
        <img class="ball 8 default" alt="Poké Ball icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/250px-Pok%C3%A9_Ball_icon.svg.png">
        <img class="ball 9 default" alt="Poké Ball icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/250px-Pok%C3%A9_Ball_icon.svg.png">

    </div>
    <div id="daily-summary">
    </div>
    {% for p in challenge %}
    <div class="challenge-container" data-result="{{p.result}}">

    <table class="challenge">
        <thead>
            <th colspan="3">Your {{p.player_pokemon.name}}</th>
            <th colspan="3">Rival's {{p.villain_pokemon.name}}</th>
        </thead>
        <tr>
            {% autoescape false %}
            <td colspan="3">
                <div><img src="{{p.player_pokemon.sprite}}" class="pokemon"/></div>
                {{p.player_pokemon}}
                <div class="base-speed">Base Speed: {{p.player_pokemon.base_speed}}</div>
            </td>
            <td colspan="3">
                <div><img src="{{p.villain_pokemon.sprite}}" class="pokemon"/></div>
                {{p.villain_pokemon}}
                <div class="base-speed">Base Speed: {{p.villain_pokemon.base_speed}}</div>
            </td>
            {% endautoescape %}
        </tr>

    </table>
        <table class="buttons">
        <tr>
            {% autoescape false %}
            <td colspan="2" class="button-cell"><button type="button" class="btn btn-success {{ 'correct' if p.result == 1 else '' }}" data-value="1">Always Outspeeds</button></td>
            <td colspan="2" class="button-cell"><button type="button" class="btn btn-primary {{ 'correct' if p.result == 0 else '' }}" data-value="0">Sometimes Outspeeds</button></td>
            <td colspan="2" class="button-cell"><button type="button" class="btn btn-danger {{ 'correct' if p.result == -1 else '' }}" data-value="-1">Never Outspeeds</button></td>
            {% endautoescape %}
        </tr>
    </table>
    </div>
    {% endfor %}
</div>
{% endblock %}