<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="row">
            <div class="col-sm">
                <span class="mb-3 mb-md-0 text-body-secondary">This is a fan project, and is not affiliated with Game Freak,
                    Creatures Inc., The Pokemon Company, The Pokemon Company International, or Nintendo.</span>
            </div>
            <div class="col-sm center">
                <span class="ms-3"><span class="mb-3 mb-md-0 text-body-secondary">© 2025 Zak Turchansky</span></li>
            </div>
            <div class="col-sm right">
                <ul class="list-unstyled">
                <li><a class="text-body-secondary" href="https://bsky.app/profile/zturchan.bsky.social" aria-label="zturchan on BlueSky" target="_blank"><img src="/static/img/bluesky-blue-square-logo-24458.png"> @zturchan on BlueSky</a></li>
                <li><a class="text-body-secondary" href="https://github.com/zturchan/snagradar" aria-label="Silph Scope on GitHub" target="_blank"><img src="/static/img/github-mark.png"> Silph Scope on GitHub</a></li>
                </ul>
            </div>
          </div>
    </footer>
</div>