{% extends 'snagradar.html' %}
{% block content %}
<div class="container gx-3 py-3 mt-3">
Welcome to Silph Scope. We provide a handful of tools for helping you on your journey to become the best Pokemon trainer you can be. We currently provide 2 tools.
<p><b>EV Scanner (Gen 9):</b> This tool allows you to input the stats of a Pokemon you have trained in Scarlet or Violet and will tell you the EVs it currently has.
This is useful for managing large collections of existing pokemon to make sure you're picking the right ones for the job when teambuilding.</p>
<p><b>Speedle (Champions):</b> Test your knowledge of pokemon speeds under a variety of conditions. Play the daily challenge or try for a high score in endless mode!</p>
</div>
{% endblock %}
