{% extends 'snagradar.html' %}
{% block content %}
<div class="container gx-3 py-3 mt-3 speedle">
Using your knowledge of Pokemon Champions, pick if your Pokemon will always, sometimes, or never outspeed the opponent.
<div class="buttons-container">
<button type="button" class="btn btn-primary btn-lg btn-block">
    <div class="major-text">Play Daily Challenge</div>
    <div class="minor-text">Challenge today's 10 trainers, updates every day at midnight Pacific time.</div>
</button>
<br/>

<button type="button" class="btn btn-danger btn-lg btn-block">
    <div class="major-text">Play Endless Mode</div>
    <div class="minor-text">Aim for a huge streak!</div>
</button>
</div>
</div>
{% endblock %}  